<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Forget Password</title>
    <style>
        .mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
  }
  .cardStyle {
    width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}
.inputLabel {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}
input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.buttonWrapper {
  margin-top: 40px;
}
  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}
.ct_show_pass {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translate(-50%, -50%);
}
.inputDiv{
  position: relative;
}
.ct_trade_logo{
  max-width: 150px;
  max-height: 150px;
  margin-inline: auto;
  display: block;
}
footer.ct_footer_bg {
    background-color: #3c434e;
    padding: 15px;
    color: #fff;
}
.ct_custom_btn {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #0587f1;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #048eff;
    z-index: 1;
    margin-top: 24px;
    width: fit-content;
    line-height: 0px;
}
#signupForm .inputDiv input {
    outline: none;
}
#signupForm .inputDiv label.inputLabel {
    font-size: 14px;
    font-weight: 500;
}
.ct_input_show{
  width: 100%;
  max-width: 100%;
}
    </style> 
  </head>
  <body>

<div class="mainDiv"  style="background-color: #c0c0c0f8;">
    <div class="cardStyle">
      <form  name="signupForm" id="signupForm"  method="post"  action="/user/changePassword">
        <img src="http://192.168.1.35:3001/images/logo.png" class="ct_trade_logo">
       
        <h2 class="formTitle">Forget Password  </h2>
        
      <div class="inputDiv">
        <label class="inputLabel" for="password">New Password</label>
        <div class="position-relative">
        <input type="password" id="password" name="password" class="ct_input_show" required>
        <div class="ct_show_pass" onclick="showhide()">
          <i class="fa fa-eye-slash"></i>

        </div>
      </div>

      </div>
      
      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
        <div class="position-relative">
        <input type="password" class="ct_input_show ct_input_show2"  id="confirmPassword" name="confirm_password">
        <div class="ct_show_pass ct_show_pass2" onclick="showhide2()">
          <i class="fa fa-eye-slash"></i>

        </div>
        </div>

        <p style="margin-top:5px; color: rgb(204, 9, 9); background-color: rgb(255, 255, 255);"><%= msg %> <br>  </p>
      </div>

      <div class="buttonWrapper text-center mt-0">
        <button type="submit" id="submitButton"  class="submitButton pure-button pure-button-primary ct_custom_btn"  data-bs-toggle="modal" data-bs-target="#exampleModal">
          
          Continue
        </button>
      </div>

        
    </form>
    </div>
  </div>
  <footer class="ct_footer_bg">
    <div class="copyright text-center">
      © Copyright <strong><span>Frenly </span></strong>. All Rights Reserved
    </div>
  </footer>
      </div>
    </div>
  </div>
</div>

<script>
function showhide(){
if(document.querySelector('.ct_input_show').type==="password"){
  document.querySelector('.ct_input_show').type="text";
  document.querySelector('.ct_show_pass').innerHTML="<i class='fa fa-eye'></i>"
;

}else{
  document.querySelector('.ct_input_show').type="password"
  document.querySelector('.ct_show_pass').innerHTML="<i class='fa fa-eye-slash'></i>"
}
}
function showhide2(){
if(document.querySelector('.ct_input_show2').type==="password"){
  document.querySelector('.ct_input_show2').type="text";
  document.querySelector('.ct_show_pass2').innerHTML="<i class='fa fa-eye'></i>"
;

}else{
  document.querySelector('.ct_input_show2').type="password"
  document.querySelector('.ct_show_pass2').innerHTML="<i class='fa fa-eye-slash'></i>"
}
}


</script>
</body>
</html>

































































<!-- <html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <title>Forget Password</title>
    <style>
        .mainDiv {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    font-family: 'Open Sans', sans-serif;
  }
  .cardStyle {
    width: 500px;
    border-color: white;
    background: #fff;
    padding: 36px 0;
    border-radius: 4px;
    margin: 30px 0;
    box-shadow: 0px 0 2px 0 rgba(0,0,0,0.25);
  }
#signupLogo {
  max-height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.formTitle{
  font-weight: 600;
  margin-top: 20px;
  color: #2F2D3B;
  text-align: center;
}
.inputLabel {
  font-size: 12px;
  color: #555;
  margin-bottom: 6px;
  margin-top: 24px;
}
  .inputDiv {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
input {
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  border: solid 1px #ccc;
  padding: 0 11px;
}
input:disabled {
  cursor: not-allowed;
  border: solid 1px #eee;
}
.buttonWrapper {
  margin-top: 40px;
}
  .submitButton {
    width: 70%;
    height: 40px;
    margin: auto;
    display: block;
    color: #fff;
    background-color: #065492;
    border-color: #065492;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }
.submitButton:disabled,
button[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #666666;
}
.ct_show_pass {
    position: absolute;
    top: 75%;
    right: 0px;
    transform: translate(-50%, -50%);
}
.inputDiv{
  position: relative;
}
    </style> 
  </head>
<div class="mainDiv">
    <div class="cardStyle">
      <form  name="signupForm" id="signupForm"  method="post"  action="/changePassword">
        <img src="" id="signupLogo"/>
       
        <h2 class="formTitle">Forget Password  </h2>
        
      <div class="inputDiv">
        <label class="inputLabel" for="password">New Password</label>
        
        <input type="password" id="password" name="password" class="ct_input_show" required>
        <div class="ct_show_pass">
          <i class="fa fa-eye-slash" aria-hidden="true"></i>

        </div>

      </div>
      
      <div class="inputDiv">
        <label class="inputLabel" for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" name="confirm_password">

        <p style="margin-top:5px; color: rgb(204, 9, 9); background-color: rgb(255, 255, 255);"><%= msg %> <br>  </p>
      </div>

      <div class="buttonWrapper">
        <button type="submit" id="submitButton"  class="submitButton pure-button pure-button-primary"  data-bs-toggle="modal" data-bs-target="#exampleModal">
          
          <span>Continue</span>
        </button>
      </div>

        
    </form>
    </div>
  </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(".ct_show_pass i").click(function() {

$(this).toggleClass("fa-eye fa-eye-slash");
var input = $($(this).attr(".ct_input_show"));
if (input.attr("type") == "password") {
  input.attr("type", "text");
} else {
  input.attr("type", "password");
}
});
</script>
</body>
</html> -->
