<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Success</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600&display=swap" rel="stylesheet">
    <style type="text/css">
    body{margin: 0;padding: 0;font-family: 'Montserrat', sans-serif;}
    .success-box-wrap {min-height: calc(100vh - 61px);display: flex;justify-content: center;align-items: center;padding: 30px;}
.success-box {background: #efefef;max-width: 350px;padding: 30px;text-align: center;border-radius: 20px;margin: 0 auto;}
    </style>
</head>
<body>
    <div class="success-box-wrap">
        <div class="success-box">
            <img src="../images/success-chk.png" title="Success" alt="Success Image"  align="center" width="100">
            <h3>Congratulations!</h3>
            <p>Your Account Password Set successfully.</p>
        </div>
    </div>
</body>
</html>